{# oops, no quoting/escaping here... #}
[aws]
prefixed_bucket_name = {{ bucket_name }}:{{ ansible_hostname }}

[db]
{% if localset_path|length == 0 %}
; *****Configure database here:
{% endif %}
name = {{ db_conf.NAME | default('') }}
host = {{ db_conf.HOST | default('') }}
port = {{ db_conf.PORT | default('') }}
user = {{ db_conf.USER | default('') }}
password = {{ db_conf.PASSWORD | default('') }}

[project]
{% if repo_path is not defined %}
; *****Configure repository path here:
{% endif %}
repo_path = {{ repo_path | default('') }}

[extra_files]
; One per line, key is ignored.
{% if localset_path|length == 0 %}
; *****Add "localset = /path/to/local_settings.py" (and possibly other files) here
{% else %}
localset = {{ localset_path }}
{% endif %}
